/*
To be covered:-
-diff bw front end and back end
-static and dynamic web pages
-responsive pages
-forms- email password submit
-unsplash
-bootstrap
-hover effect
-transition duration/delay
-embedding a youtube video
*/

#welcome{
    
    background-image: url(light.jpg);
    background-attachment: fixed; 
/*    keeps the image fixed while text on it moves*/
    background-size: cover;
    width: 100%;
    height: 100%;
    font-size: 40px;
    font-weight: 100;
    color: white;
    padding-top: 70px;
    padding-left: 60%;
    background-repeat: no-repeat;
}

#pic{
    background-image: url(rawpixel-569615-unsplash.jpg);
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
}
#sample{
    widows: 50%;
    height: 50%;
    border: 3px solid black;
    margin-top: 60px;
    margin-left: 38%;
}
#sample:hover{
    filter: grayscale(); /*blur*/
    transition-duration: 2s;
}
#button{
    margin-top: 50px;
    margin-left: 41%;
    
}








